
:root{
    --red: #e84118;
}
*{
    font-family: 'Open Sans',sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    text-transform: capitalize;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.btn{
    height: 5rem;
    width:18rem;
    color:#fff;
    border:.2rem solid #fff;
    outline:.2rem solid #fff;
    /* outline-offset: -.8rem; */
    font-size: 2rem;
    margin: 1.5rem 0;
    cursor: pointer;
    background: none;
}
.btn:hover{
    /* outline-offset: .2rem; */
    background:var(--red);
}
.heading{
    text-align:center;
    width:90%;
    margin:0 auto;
    padding:0 .5rem;
    padding-top: 6rem;
    box-shadow: 0 .2rem .05rem rgba(0,0,0,.3);
}
.heading span{
    display: inline-block;
    font-size: 3.5rem;
    color:var(--red);
    padding:1rem 0;
    box-shadow:  0 .2rem .05rem var(--red);
}
header .header-1{
    /* display: flex; */
    align-items:center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding:1rem 2rem;
}

header .header-1 .logo{
    font-size: 2.5rem;
    color:var(--red);
}
header .header-1 .call{
    font-size: 2rem;
    color:#666;
}
header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding:.5rem;
    position:relative;
    z-index:1000;
}
header .header-2 .navbar ul{
    display:flex;
    align-items: left;
    justify-content: space-between;
    list-style:none;
    background-color: var(--red);
}
header .header-2 .navbar ul li{
    margin:1rem;
}
header .header-2 .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}
header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:#fff;
}
header .header-2 .header-active{
    position:fixed;
    top:0; left:0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(pexels-styles-thien-8202730.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position:relative;
}
.home .content{
    text-align: center;
    padding:1rem;
}
.home .content h1{
    font-family: 'Inconsolata', monospace;
    background-color: #454B1B;
    font-size:6rem;
    color: #fff;
}
.home .content h1 span{
    font-family: 'Inconsolata', monospace;
    color:var(#fff);
}
.home .content p{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    margin-top: 7px;
    background-color: #454B1B;
    /* font-style: italic; */
    color: #fff;
    width: 68rem;
    padding: 1rem 0;
}
.home .shape{
    position: absolute;
    bottom: 5rem; left: 0;
    height: 13rem;
    background-size: 350rem 13rem;
    width: 100%;
}
.about{
    background-color: #FBCEB1;
    min-height:100vh;
}
.about .row{
    background-color: #FBCEB1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    overflow-x: hidden;
}
.about .row .image img{
    margin-top: 5rem;
    width: 30rem;
    height: 35rem;
    filter: drop-shadow(.5rem .5rem .5rem rgba(0,0,0,.3));
}
.about .row .content{
    padding: 1rem;
}
.about .row .content h3{
    font-size: 3.5rem;
    color: var(--red);
}
.about .row .content p{
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
}
.about .row .content .btn{
    color: black;
    border-color: var(--red);
    outline-color: var(--red);
}
.about .row .content .btn :hover{
    color: #fff;
}
.dish{
    background-image: url('back dish.png');
    min-height: 100vh;
}
.dish .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    list-style: none;
}
.dish .controls .buttons{
    margin: 1rem 2rem;
    padding: 5rem 0;
    border-bottom: 10px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2rem;
}
.dish .controls .buttons .button-active,
.dish .controls .buttons :hover{
    color: var(--red);
    border-color: var(--red);
}
.dish .image-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.dish .image-container .image{
    width: 35rem;
    margin: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.3);
    /* gcccgvjgvjvjj */
    text-align: center;
    justify-content: center;
}
.dish .image-container .image img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.dish .image-container .image a{
    font-size: 2rem;
    color:#fff;
    padding: 5rem;
}
.dish .image-container .image a:hover{
    color: var(--red);
    text-decoration: underline;
}
.chef{
    min-height: 100vh;
    background: url(chefbg.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.chef .heading span{
    color: var(--red);
}
.chef .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem 0;
}
.chef .box-container .box{
    height: 40rem;
    width: 28rem;
    margin: 2rem;
    border: 1rem solid var(--red);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
}
.chef .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chef .box-container .box .info{
    position: absolute;
    bottom: -5rem; left: 0;
    width: 100%;
    background: #fff;
    border-top: .5rem solid var(--red);
    text-align: center;
}
.chef .box-container .box .info h3{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}
.chef .box-container .box .info span{
    font-size: 1.5rem;
    color: #666;
}
.chef .box-container .box .info .share{
    margin-top: 1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
    padding: 1rem 0;
}
.chef .box-container .box .info .share a{
    font-size: 2rem;
    margin: 1rem;
    color: var(--red);
}
.speciality .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.speciality .box-container .box{
    height: 20rem;
    flex: 1 1 43rem;
    margin: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.speciality .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.speciality .box-container .box .info{
    position: absolute;
    top: 50%; left: 5%;
    transform: translateY(-50%);
}
.speciality .box-container .box .info h3{
    font-size: 3rem;
    color:#fff;
}
.speciality .box-container .box .info p{
    font-size: 2rem;
    color: #eee;
}
.speciality .icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}
.speciality .icons-container .icons{
    margin: 2rem;
    width: 23rem;
    text-align: center;
}
.speciality .icons-container .icons i{
    font-size: 4rem;
    color: var(--red);
}
.speciality .icons-container .icons h3{
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}
.speciality .icons-container .icons p{
    font-size: 1.5rem;
    color: #666;
}
.order{
    min-height: 100vh;
    background: url(order-big.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
}
.order .heading span{
    color: var(--red);
}
.order form{
    border-radius: 1rem;
    background: #fff;
    width: 85%;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem #000;
    text-align: center;
}
.order form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order form .inputBox input,
.order form .inputBox select,
.order form .inputBox textarea{
    padding: 0 1rem;
    font-size: 1.7rem;
    color: #333;
    height: 4rem;
    width: 49%;
    margin: 1rem 0;
    border: .1rem solid #333; 
}    
.order form .inputBox input:focus,
.order form .inputBox select:focus,
.order form .inputBox textarea:focus{
    border: .2rem solid var(--red);
}
.order form .inputBox textarea{
    height: 20rem;
    padding: 1rem;
    resize: none;
}
.order form .inputBox #map{
    height: 20rem;
    margin:1rem 0;
    width: 49%;
}
.order form .btn{
    color: #000;
    border-color:var(--red) ;
    outline-color: var(--red);
}
.order form .btn :hover{
    color: #fff;
}
/* media queries */
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    header.header-2 #menu{
        display: block;
    }
    header .header-2 .navbar{
        position: absolute;
        top: 100%; left: 120%;
    }
    header .header-2 .navbar ul{
        flex-flow: column;
        justify-content: center;
        min-height: calc(100vh - 6rem);
        padding-bottom: 6rem;
        background: #000;
        width: 32rem;
    }
    header .header-2 .navbar ul li{
        width: 100%;
        text-align: center;
    }
    header.header-2 .navbar ul li a{
        font-size: 2.7rem;
        display: block;
    }
    header .header-2 .fa-times{
        transform: rotate(180deg);
    }
    header .header-2 .nav-toggle{
        left: 0;
    }
    .home .content h1{
        font-size: 5rem;
    }
    .home .content p{
        width: auto;
    }
    .about .row{
        flex-flow: column;
    }
    .about .row .image img{
        width: 85%;
    }
}
